*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#navbar{
    padding: 10px;
     align-items: center;
}
.ham-burger{
    font-size: 30px;
}
.ul-styling{
    gap: 40px;
    list-style: none;
}
.first-item-display{
    width: 400px;
    height: 400px;
    background-color: gray;
    border-radius: 10px;
} 




/* senond navbar  */
.cate1{
    font-size: 1.5rem;
    color: #3866df;
    margin-left: 10px;
}
.ham-burger{
    display: none;
    margin-right: 10px;
}
#second-navbar{
    background-color: green
}
.display-item{
 flex-wrap: wrap;
 /* gap: 20px; */
}






























@media(max-width:576px){
    .location{display: none;}.text{display: none;}.like{display: none;}.UAE{display: none;}
    .cart{display: none;}.arabic{display: none;}#input{width: 100px;}.like1{display: none;}
    /* second navbar */
    .arrow{display: none;}#second-nav{display: none;}.ham-burger{display: block;}
}
@media(max-width:768px){
    .like{display: none;}
    .cart{display: none;}.arabic{display: none;}#input{width: 100px;}.like1{display: none;}
      /* second navbar */
      .arrow{display: none;}#second-nav{display: none;}.ham-burger{display: block;}
}
@media(max-width:992px){
    .location{display: none;}.text{display: none;}.like{display: none;}
    .cart{display: none;}.arabic{display: none;}#input{width: 100px;}.like1{display: none;}
}
@media(max-width:1200px){
    .location{display: none;}.text{display: none;}.like{display: none;}
    .cart{display: none;}.arabic{display: none;}#input{width: 100px;}.like1{display: none;}
}























